@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// глобально
@import "base/global";
@import "base/button";

// секции
@import 'section/main-1';
@import "section/main-2";
@import "section/main-3";
@import "section/main-4";
@import "section/main-5";