// _buttons.scss

@mixin button-styles {
    font-family: 'Inter', sans-serif;
    background: none;
    color: #000000 !important;
    border: none;
    border-radius: 10px;
    padding: 16px 30px;
    font-size: 20px !important;
    font-weight: 600 !important;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    img {
        width: 30px;
        height: 30px;
    }
}

// Применяем миксин к глобальным кнопкам
button.btn, a.btn {
    @include button-styles;
    
    &--border {
        border: 1px solid #000000 !important;
    }

    &--primary {
        background-color: #006499 !important;
        color: #FFFFFF !important;
    }
}

// Применяем миксин к вашим кнопкам
button[class*="view-programs-btn"], a[class*="view-programs-btn"] {
    @include button-styles;
    
    &[class*="-border"] {
        border: 1px solid #006499 !important;
        border-radius: 50px;
        color: #006499 !important;
    }
}

