// _buttons.scss

@mixin button-styles {
    font-family: 'Inter', sans-serif;
    background: none;
    color: #000000 !important;
    border: none;
    border-radius: 10px;
    padding: 16px 30px;
    font-size: 20px !important;
    font-weight: 600 !important;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    img {
        width: 30px;
        height: 30px;
    }
}


button.btn, a.btn {
    @include button-styles;
    
    &--border {
        border: 1px solid #000000 !important;
    }

    &--primary {
        background-color: #006499 !important;
        color: #FFFFFF !important;
    }
}

// Кнопка с границей без заливки
button[class*="view-programs-btn"], a[class*="view-programs-btn"] {
    @include button-styles;
    
    &[class*="-border"] {
        border: 1px solid #006499 !important;
        border-radius: 50px;
        color: #006499 !important;
    }
}

// Кнопка с заливокй 
button[class*="view-programs-btn"], a[class*="view-programs-btn"] {
    @include button-styles;
    
    &[class*="-background"] {
        border-radius: 50px;
        color: #ffffff !important;
        background-color: #006499 !important;
    }
}



// Кнопка для попап


@mixin popap-button-styles {

    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    
    font-size: 18px;
    font-weight: 600; 
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #44B944;
    gap: 11px;
    border: none;
    display: inline-flex; 
    align-items: center;
    justify-content: center;


    img {
        width: 24px; 
        height: 24px;
    }
}


.btn-open-popap {
    @include popap-button-styles;
}



// Кнопки для выбора программы обучения

@mixin program-nav-button-styles {

    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;

   
    font-size: 20px;
    padding: 20px 60px;
    background: none;
    border: none;
    border-radius: 100px;
    color: #00000099;
}

.main-2-btn-prog-college,
.main-2-btn-prog-bachelor,
.main-2-btn-prog-magistr {
    @include program-nav-button-styles;
}

.main-2-btn-prog-college.active,
.main-2-btn-prog-bachelor.active,
.main-2-btn-prog-magistr.active {
    background-color: #006499B2;
    color: #FFFFFF;
}