footer {
    background: linear-gradient(0deg, #141414 31.98%, #333333 100%);

    .footer {
        padding: 50px 50px 70px;

        .footer-block-1 {
            display: flex;
            flex-direction: row;
            gap: 50px;
            padding-bottom: 40px;
            .nav-footer {
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 40.63px;
                    list-style: none;
                    padding-left: 0;

                    li {

                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .footer-block-2 {
            display: flex;
            flex-direction: row;
            gap: 112px;

            .block {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .text-1 {
                    margin: 0;
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 80%;
                }
            }

            .block1 {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .text2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    opacity: 80%;
                }
                .link {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 80%;
                }
            }

            .block2 {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .block {
                    gap: 0;

                    .text3 {
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                        color: white;
                    }
                    h2 {
                        font-size: 24px;
                        color: white;
                        margin: 0;
                        white-space: nowrap;
                    }
                }
                
            }

            .block3 {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .img-footer {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding-bottom: 20px;
                }

                .text4 {
                    font-size: 16px;
                    font-weight: 400;
                    opacity: 80%;
                    color: white;
                    white-space: nowrap;
                    margin: 0;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    footer {
        background: linear-gradient(0deg, #141414 31.98%, #333333 100%);

        .footer {
            padding: 13px 20px 56px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .footer-block-1 {
                padding-top: 36.94px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
                padding-bottom: 0;

                .nav-footer {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        li {
                            text-align: center;
                            
                        }
                    }
                }
            }

            .footer-block-2 {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .block {
                    .text-1 {
                        text-align: center;
                        font-size: 14px;
                    }
                }

                .block1 {
                    .text2 {
                        text-align: center;
                        font-size: 14px;
                    }
                    .link {
                        text-align: center;
                        font-size: 14px;
                    }
                }

                .block2 {
                    .block {
                        .text3, h2 {
                            text-align: center;
                        }
                        .text3 {
                            font-size: 14px;
                        }
                        h2 {
                            font-size: 20px;
                        }
                    }
                }

                .block3 {
                    .img-footer {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                    .text4 {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}