
.it-2 {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .block-it-2 {
        padding: 20px 30px;
        width: auto;
        background-color: #FFFFFF80;
        border-radius: 15px;
        box-shadow: 0 0 16px 0 #0000001A;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 260px;
        justify-content: center;
        align-items: center;
        
        h2{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }

        .nav-programs {
            display: flex;
            gap: 20px;
            button {
                padding: 17px 30px;
                border-radius: 10px;
                font-size: 16px;
                border: 1px solid #006499;
                color: #006499;
            }

            .main-2-btn-prog-college.active,
            .main-2-btn-prog-bachelor.active,
            .main-2-btn-prog-magistr.active {
                background-color: #006499;
                color: #FFFFFF;
            }

            .main-2-btn-prog-college-mob.active {
                display: none;
            }
        }
    }


    .block-it-3 {
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0 0 16px 0 #0000001A;
        padding: 30px 30px 35px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 30px;

        .programs {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    font-size: 16px;
                    color: #00000080;
                    margin: 0;
                }
                h3 {
                    font-size: 24px;
                    margin: 0;
                }
            }
        }

        .inf {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .block {
                padding: 20px;
                border-radius: 15px;
                background: linear-gradient(210.29deg, #FFFFFF 2.13%, #D1E3E7 100%);
                display: flex;
                flex-direction: column;
                gap: 20px;

                .text-header {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                    
                    p {
                        margin: 0;
                        font-size: 16px;
                        color: #00000080;
                    }
                }

                .block-text-inf {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        h4 {
                            margin: 0;
                            font-size: 20px;
                        }
                        p {
                            margin: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}


.hidden {
    display: none !important;
}

@media screen and (max-width: 900px) {
    .it-2 {
        padding: 0 20px;

        .block-it-2 {
            flex-direction: column;
            gap: 20px;
            
            h2 {
                font-size: 18px;
                text-align: center;
            }

            .nav-programs {
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;

                button {
                    padding: 12px 20px;
                    font-size: 14px;
                }
            }
        }

        .block-it-3 {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px;

            .programs {
                gap: 15px;

                .text {
                    p {
                        font-size: 14px;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
            }

            .inf {
                gap: 15px;

                .block {
                    padding: 15px;
                    gap: 15px;
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    gap: 15px;
                    align-items: start; 

                    
                    .text-header,
                    .block-text-inf {
                        display: contents;
                    }

                    > :first-child {
                        grid-column: 1;
                        grid-row: 1;    
                    }

                    > .text:first-of-type {
                        grid-column: 2; 
                        grid-row: 1;    
                    }

                    
                    > :nth-child(2) {
                        grid-column: 1; 
                        grid-row: 2;  
                    }

                    > .text:last-of-type {
                        grid-column: 2; 
                        grid-row: 2;   
                    }

                    
                    > p {
                        margin: 0;
                        font-size: 14px;
                        color: #00000080;
                    }

                    > .text {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        
                        h4 {
                            font-size: 18px;
                            margin: 0;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .it-2 {
        padding: 0;
        gap: 10px;

        .block-it-2 {
            margin: 0 5px;
            background: linear-gradient(210.29deg, #FFFFFF 2.13%, #FFF2BE 100%);
            border-radius: 5px;
            padding: 10px;


            h2 {
                display: none;
            }

            .nav-programs {
                gap: 3px;
                flex-wrap: nowrap;      
                overflow-x: auto;       
                -ms-overflow-style: none;  
                scrollbar-width: none;     
                
                &::-webkit-scrollbar {
                    display: none;
                }

                button {
                    padding: 11px 15px;
                    font-size: 12px;
                    
                    flex: 1 0 auto;
                    text-align: center;
                }

                .main-2-btn-prog-college {
                    font-size: 0;
                    color: transparent;
                }

                .main-2-btn-prog-college::before {
                    content: "Все";
                    font-size: 12px;
                    color: #006499;
                    display: inline-block;
                }

                .main-2-btn-prog-college.active::before {
                    color: #FFFFFF;
                }
            }
        }

        .block-it-3 {
            border-radius: 0;
            .programs {
                display: grid;
                grid-row: 1fr 1fr;
                gap: 5px;
                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .inf {
                border-top: 1px solid #0064994D; 
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 0; 

                .block {

                    display: grid;
                    grid-template-areas:
                        "header"
                        "title"
                        "subheader"
                        "programs";
                    gap: 5px;
                    padding: 20px 15px;
                    background: #FFFFFF; 
                    border-radius: 0;
                    grid-template-columns: none;
                    
                    border-bottom: 1px solid #0064994D;
                    &:last-child {
                        border-bottom: none;
                    }

                    .text-header,
                    .block-text-inf {
                        display: contents;
                    }


                    .text-header p:first-of-type {
                        grid-area: header; 
                    }
                    .block-text-inf .text:first-of-type {
                        grid-area: title; 
                    }
                    .text-header p:last-of-type {
                        grid-area: subheader; 
                    }
                    .block-text-inf .text:last-of-type {
                        grid-area: programs; 
                    }

                    p {
                        text-align: left;
                        margin: 0;
                        font-size: 12px;
                        color: #00000080;
                    }
                    h4 {
                        text-align: left;
                        margin: 0;
                        font-size: 16px;
                        padding-bottom: 10px;
                    }
                    
                    .block-text-inf .text:last-of-type {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        p {
                            font-size: 14px;
                            line-height: 1.4;
                            color: #000000; 
                        }
                    }
                }
            }
        }
    }
}