.main-2 {
  margin: -155px 50px 0 50px;

  .nav-programs {
    width: 735px;
    padding: 5px;
    border-radius: 100px;
    background-color: #FFFFFF99;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(50px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    .main-2-btn-prog-college,
    .main-2-btn-prog-bachelor,
    .main-2-btn-prog-magistr {
      font-size: 20px;
      padding: 20px 60px;
      background: none;
      border: none;
      border-radius: 100px;
      color: #00000099;
      cursor: pointer;
    }
    .main-2-btn-prog-college.active,
    .main-2-btn-prog-bachelor.active,
    .main-2-btn-prog-magistr.active {
      background-color: #006499B2;
      color: #FFFFFF;
    }
  }

  .main-2-prog-inf {
    margin-top: 10px;
    border-radius: 20px;
    background-color: #FFFFFF99;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(50px);
    padding: 25px 35px 45px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

    .info-block {
      display: none; 
      &.active {
        display: block; 
      }
    }

    
    .info-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 17.16px; 
      margin-bottom: 25px;
    }

    .info-item {
      text-align: center;
      padding-right: 17.16px; 
      border-right: 1px solid #00000033; 
      display: flex;
      flex-direction: row;
      gap: 12.5px;
      
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
    
    .info-icon img {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }

    .info-text h3 {
      font-size: 34px;
      font-weight: 700;
      margin: 0 0 5px 0;
      text-align: left;
    }

    .info-text p {
      font-size: 16px;
      margin: 0;
      color: #000000;
      text-align: left;
    }

   
    .view-programs-btn-container {
      display: flex; 
      align-items: center; 
      justify-content: space-between; 
    }

    .text {
      max-width: 60%; 
      font-size: 16px;
      color: #000000;
      line-height: 1.5;
      margin: 0;
    }

 
  }

  .main-2-search-container {
  position: relative;
  width: 100%;
  padding-top: 25px;
  
  .search-input {
    width: 100%;
    padding: 16px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    opacity: 60%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .main-2-search-btn {
    position: absolute;
    right: 25px;
    top: 50%;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}
}